<!--  <p>
  teachers works!
</p> -->
<!--
<div class="row justify-content-center">
  <div *ngFor="let teacher of teachers">
    <div class="panel panel-primary ">
      <div class="panel-heading">
        <h2 class="panel-title">{{teacher.name}}</h2>
        </div>
        </div>
        <div class="col-md-4">
          <img [src]="teacher.image" [title]="teacher.name">
        </div>
    </div>
</div>
</div>

 -->
