<mat-toolbar>
    <mat-toolbar-row>
      <span>Register new activity</span>
    </mat-toolbar-row>
  </mat-toolbar>
  {{diagnostic}}
  <form style="margin-left: 1em" #activityForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Activity Id" [(ngModel)]="model.activityId" name="activityId" required #spy>
    </mat-form-field>
    <br>TODO: remove this: {{spy.className}}
    <table class="full-width" cellspacing="0"> 
          
         <tr>
           <mat-form-field class="full-width">
            <input matInput placeholder="Activity name" [(ngModel)]="model.name" name="name" required>
          </mat-form-field>
         </tr>

         <tr>
           <mat-form-field class="full-width">
            <input matInput placeholder="Location" [(ngModel)]="model.location" name="location" required>
          </mat-form-field>
         </tr>
        
          <tr>
            <mat-form-field class="full-width">
              <input matInput placeholder="Date" [(ngModel)]="model.date" name="date" required>
            </mat-form-field>
          </tr>
          
          <tr>
            <mat-form-field class="full-width">
            <input matInput placeholder="Time" [(ngModel)]="model.time" name="time" required>
          </mat-form-field>
          </tr>
          
          <tr>
            <mat-form-field class="full-width">
              <input matInput placeholder="Teacher" [(ngModel)]="model.teacher" name="teacher" required>
            </mat-form-field>
          </tr>
          
          <tr>
            <mat-form-field  class="full-width">
              <input matInput placeholder="Period of registration" [(ngModel)] ="model.period_reg" name="period_reg" required>
            </mat-form-field>
          </tr>
    
          <tr>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Description" [(ngModel)]="model.description" name="description"></textarea>
            </mat-form-field>
          </tr>
    </table>
    <div class="center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!activityForm.form.valid">Add</button>
    </div>
  </form>