.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #C09F80;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background: #76323F;
  justify-content: center;
}

.mat-list-item {
  height: 120px;
}




