<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <mat-list-item [routerLink]="['/listActivity']" routerLinkActive="router-link-active">List</mat-list-item>
        <mat-list-item [routerLink]="['/registerActivity']" routerLinkActive="router-link-active" >Register Activity</mat-list-item>
        <mat-list-item [routerLink]="['/detail/:id]" routerLinkActive="router-link-active" >Detali</mat-list-item>
        <!-- <a mat-list-item  [matMenuTriggerFor]="menu">View</a> -->
        <!-- <mat-menu #menu="matMenu">
          <div *ngFor="let activity of activitys$ | async">
            <a mat-menu-item style="text-decoration: none" [routerLink]="['detail',activity.id]" routerLinkActive="router-link-active">
              {{activity.id}}
            </a>
          </div>
        </mat-menu> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>The Leaning Through Activity Management System</span>
      </mat-toolbar>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  