<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-nav-list class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-opacity" >
      <a [routerLink]="['login']" routerLinkActive="router-link-active"  class="w3-bar-item w3-button w3-padding-large w3-hover-black">
          <i class="fa fa-home w3-xxlarge"></i>
          <p>Log in</p>
        </a>
        <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
          <i class="fa fa-user w3-xxlarge"></i>
          <p>Register</p>
        </a>
        <a [routerLink]="['teacher']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
          <i class="fa fa-group w3-xxlarge"></i>
          <p>Teacher Log in</p>
        </a>
        <a [routerLink]="['/admin']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
          <i class="fa fa-key w3-xxlarge"></i>
          <p>Admin Log in</p>
        </a>
        <!-- <mat-list-item [routerLink]="['/listActivity']" routerLinkActive="router-link-active" >List</mat-list-item>
        <mat-list-item [routerLink]="['/registerActivity']" routerLinkActive="router-link-active" >Register Activity</mat-list-item> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Learning Through Activity Management System (LTAS)</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/activity']" routerLinkActive="router-link-active" >My activity</a>
      <a mat-list-item [routerLink]="['/list']" routerLinkActive="router-link-active" >List of students</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>The Leaning Through Activity Management System</span>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>



<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/activity']" routerLinkActive="router-link-active" >My activity</a>
      <a mat-list-item [routerLink]="['/list']" routerLinkActive="router-link-active" >List of students</a>
       <a mat-list-item [routerLink]=['/detail/id']  routerLinkActive="router-link-active" >List of students</a> -->
    <!-- </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Teacher information</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container> --> -->
