<!-- <div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="activityId">
      <th mat-header-cell *matHeaderCellDef>activity id</th>
      <td mat-cell *matCellDef="let activity">{{activity.activityId}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
      <td mat-footer-cell *matFooterCellDef>Total </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

     <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="period-reg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Period Reg</th>
      <td mat-cell *matCellDef="let activity">{{activity.period-reg}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let activity">{{activity.date}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

     <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

      <ng-container matColumnDef="time-start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time start</th>
        <td mat-cell *matCellDef="let activity">{{activity.time-start}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

     <ng-container matColumnDef="time-end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time end</th>
      <td mat-cell *matCellDef="let activity">{{activity.time-end}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
        <td mat-cell *matCellDef="let activity">{{activity.teacher}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator hidden="true" #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>

 -->
