<mat-toolbar>Welcome Student To Login</mat-toolbar>
<form action="/action_page.php"  class="container">
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Username" [(ngModel)]="model.username" name="username" required >

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="model.password" name="password" required >

      <mat-form-field class="full-width">
        <button mat-raised-button class="loginbtn" type="submit" name="login" onsubmit="onSubmitStudent()">Log In</button>
        </mat-form-field>
        <mat-form-field class="full-width">
      <button mat-raised-button class="signbtn" color="primary" onclick="location.href = 'http://localhost:4200/register'" name="register">Register</button>
    </mat-form-field>
  </form>
