<div class="mat-elevation-z8">
    <div *ngIf="loading" class="loading-indicator">
        <mat-spinner></mat-spinner>
      </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- ActivityId Column -->
      <ng-container matColumnDef="activityId">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let activity">{{activity.activityId}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      <!-- Name of the activity Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Activity name</th>
        <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Location of the activity Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let activity">{{activity.date}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
       <!-- Time Column -->
       <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
        <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Teacher Column -->
      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
        <td mat-cell *matCellDef="let activity">{{activity.teacher}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Period of register Column -->
      <ng-container matColumnDef="period_reg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Period of register</th>
        <td mat-cell *matCellDef="let activity">{{activity.period_reg}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>
  