<!-- <p>
  list works!
</p> -->

<div class="row justify-content-start">
  <div class="col-md-offset-3	 col-md-9">
    <div *ngFor="let teachers of teachers">
      <div class="panel panel-primary  ">
        <div class="panel-heading">
          <h2 class="panel-title">{{teachers.name }}</h2>
        </div>
        <div class="panel-body row">

          <div class="col-md-4">
            <img [src]="teachers.image" [title]="teachers.name">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
