body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ddd;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ffffff;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #C09F80;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.loginbtn {
    padding: 14px 15px;
    background-color: #4CAF50;
    width: 200%;
}
/* Add padding to container elements */
.container {
    width: 80%;
    padding-left: 150px;
}
.full-width {
  width: 50%;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 200px) {
    .loginbtn, {
       width: 100%;
    }
}
