<mat-toolbar>Welcome Teacher To Login</mat-toolbar>
<form action="/action_page.php"  class="container">
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Username" [(ngModel)]="modelTeacher.username" name="username" required >

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="modelTeacher.password" name="password" required >

      <mat-form-field class="full-width">
        <button mat-raised-button class="loginbtn" type="submit">Log In</button>
        </mat-form-field>
  </form>

