<mat-toolbar>
  <mat-toolbar-row>
    <span>Teacher information</span>
  </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em">
  <mat-form-field class="full-width">
    <input matInput placeholder="TeacherId" [value]="teacher.teacherId" readonly>
  </mat-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
  <td>
  <mat-form-field class="full-width">
  <input matInput placeholder="Teacher's name" [value]="teacher.name" readonly>
  </mat-form-field>
    </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Surname" [value]="teacher.surname" readonly>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Subject" [value]="teacher.subject" readonly>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <div class="center">
  <mat-card class="img-width">
    <!-- <mat-card-header>
      <mat-card-title>Image</mat-card-title>
    </mat-card-header> -->
    <img mat-card-image [src]="teacher.image" [alt]="teacher.name">
  </mat-card>
  </div>
</form>
