<div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let teacher">{{teacher.id}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- TeacherId Column -->
    <ng-container matColumnDef="teacherId">
      <th mat-header-cell *matHeaderCellDef>teacher id</th>
      <td mat-cell *matCellDef="let teacher">{{teacher.teacherId}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let teacher">{{teacher.name}}</td>
      <td mat-footer-cell *matFooterCellDef>Total </td>
    </ng-container>
    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
      <td mat-cell *matCellDef="let teacher">{{teacher.surname}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
     <!-- Subject Column -->
     <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
      <td mat-cell *matCellDef="let teacher">{{teacher.subject}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
      <td mat-cell *matCellDef="let teacher" class="center-text">
        <img [src]="teacher.image" [title]="teacher.name" class="img-fluid">
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator hidden="true" #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>


<!-- <div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let teacher">{{teacher.id}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="teacherId">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let teacher">{{teacher.teacherId}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Teacher name</th>
      <td mat-cell *matCellDef="let teacher">{{teacher.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
     <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>surname</th>
      <td mat-cell *matCellDef="let teacher">{{teacher.surname}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>subject</th>
      <td mat-cell *matCellDef="let teacher">{{teacher.subject}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
      <td mat-cell *matCellDef="let student" class="center-text">
        <img [src]="student.image" [title]="student.name" class="img-fluid">
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

     <ng-container matColumnDef="accept">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Accept</th>
      <td mat-cell *matCellDef="let teacher"><button (click)="accept(teacher)">Accept</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="reject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reject</th>
      <td mat-cell *matCellDef="let teacher"><button (click)="reject(teacher)">Reject</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container> -->
<!--
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>


  <mat-paginator hidden="true" #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div> --> -->
