<mat-toolbar>
    <mat-toolbar-row>
      <span>Registration</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <form style="margin-left: 1em" #registerForm="ngForm">
      <mat-form-field class="full-width">
          <label class="col-sm-2 control-label">Student Id : </label>
        <input class="col-sm-10" matInput placeholder="Please enter your Student id" name="studentId" [(ngModel)] ="model.studentId" required>
      </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
            <label class="col-sm-2 control-label">First name : </label>
          <input class="col-sm-10" matInput placeholder="Please enter your First name" [(ngModel)]="model.name" name="name" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
            <label class="col-sm-2 control-label">Surname : </label>
          <input class="col-sm-10" matInput placeholder="Please enter your Surname" [(ngModel)]="model.surname" name="surname">
        </mat-form-field>
      </td>
    </tr>
  </table>
        <mat-form-field hintLabel="will change to the image uploader component later" [(ngModel)]="model.image" class="full-width">
        <label class="col-sm-2 control-label">Your image : </label>
    <input class="col-sm-10" matInput placeholder="file name" name="image">
  </mat-form-field>
  <mat-form-field class="full-width">
      <label class="col-sm-2 control-label">Date of Birth (dd/MM/YY) : </label>
      <input class="col-sm-10" matInput placeholder="Enter the date of birth" [(ngModel)]="model.birthday" name="birthday">
    </mat-form-field>
    <mat-form-field class="full-width">
        <label class="col-sm-2 control-label">Your Email(username) : </label>
      <input class="col-sm-10" matInput placeholder="Please enter your email" [(ngModel)]="model.username" name="username" required>
    </mat-form-field>
    <mat-form-field class="full-width">
        <label class="col-sm-2 control-label">Password(password) : </label>
      <input class="col-sm-10" matInput placeholder="Please create your password" [(ngModel)]="model.password" name="password" required>
    </mat-form-field>
  <mat-form-field class="full-width">
      <div class="center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid">Finish</button>
        </div>
  </mat-form-field>
  </form>
